@charset "UTF-8";

/* @font-face {
    font-family: "SourceHanSansCN-Heavy(1)"; 
    src: url('./SourceHanSansCN-Heavy(1).otf'); 
} */
/* @font-face {
    font-family: "SourceHanSansCN-Light"; 
    src: url('./SourceHanSansCN-Light_0.otf'); 
} */
/* @font-face {
    font-family: "SourceHanSansCN-Medium(1)"; 
    src: url('./SourceHanSansCN-Medium(1).otf'); 
} */
/* @font-face {
    font-family: "SourceHanSansCN-Normal(1)"; 
    src: url('./SourceHanSansCN-Normal(1).otf'); 
} */
@font-face {
    font-family: "SourceHanSansCN-Regular"; 
    src: url('./SourceHanSansCN-Regular(1).otf'); 
}
